<html>
<head>
</head>
<body>
	<form method='POST' action='lib/addSalvage'>
		ID: <input type='text' name='ID' /> <br />
		# of Salvages: <input type='text' name='SalvageCount' /> <br />
		<select name='material1'><option value='' selected='true'>None</option>{{range .Materials}}<option value='{{.DataID}}'>{{.Name}}: {{.DataID}}</option>{{end}}</select> <input type='text' name='material1Count' /><br />
		<select name='material2'><option value='' selected='true'>None</option>{{range .Materials}}<option value='{{.DataID}}'>{{.Name}}: {{.DataID}}</option>{{end}}</select> <input type='text' name='material2Count' /><br />
		<input type='submit' /><br />
	</form>
	<iframe src="http://gw2spidy.com" align="middle" frameborder="1" height="100%" scrolling="auto" width="100%" ></iframe>
</body>
</html>